@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: linear-gradient(135deg, #242424 25%, transparent 25%) -16px 0, linear-gradient(225deg, #242424 25%, transparent 25%) -16px 0, linear-gradient(315deg, #242424 25%, transparent 25%), linear-gradient(45deg, #242424 25%, transparent 25%);
  background-size: 32px 32px;
  background-color: #1a1a1a;
}